In [1]:
import pandas as pd
df_game = pd.read_excel('数据分析题目.xlsx',sheet_name='题目用数据')

In [2]:
df_game

,日期,时间,订单号,订单信息,平台,用户,名字,小区,国家,注册时间,当前等级,支付等级,支付金额/$,支付金额/¥,ID,周
0,2018-12-03 00:00:00,08:40:55,91675542532000236_236_10005_1543797631736,20181203084043J6B3nuQSePF9vEZXC5|154|1047|1084...,cn_hy,91675542532000236,新手，小姐姐,4,CN,2018-08-25 21:13:45,24,24,0.99,6,10005,第15周
1,2018-12-03 00:00:00,07:46:48,26562828705000236_236_10001_1543794394109,20181203074634TCK1ns7Q865G4WHdMl|154|1047|f4bc...,cn_hy,26562828705000236,气人一个,2,CN,2018-08-25 13:04:32,30,30,0.16,1,10001,第15周
2,2018-12-03 00:00:00,07:09:48,105883307752000236_236_10001_1543792176134,20181203070935psbXoy9RMnJB1D3x7L|154|1047|b162...,cn_hy,105883307752000236,英雄门,4,CN,2018-08-25 23:12:23,37,37,0.16,1,10001,第15周
3,2018-12-03 00:00:00,06:39:44,43686793520000236_236_2003_1543790375913,20181203063936sOGeqvAhcuwMC3BVty|155|1278,cn_hy,43686793520000236,静祷安宁,0,CN,2018-08-25 14:59:16,38,38,9.99,68,2003,第15周
4,2018-12-03 00:00:00,06:39:24,43686793520000236_236_2004_1543790353208,201812030639133zS4G8bsdjIJMwtDmP|155|1278,cn_hy,43686793520000236,静祷安宁,0,CN,2018-08-25 14:59:16,38,38,19.99,128,2004,第15周
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9401,2018-08-25 00:00:00,10:20:40,1666191683000236_236_10001_1535163620816,20180825102021qc4ymB3H6VUGkfwtW0|154|1047|eb09...,cn_hy,1666191683000236,芬妮维娜,0,CN,2018-08-25 10:09:36,6,3,0.16,1,10001,第1周
9402,2018-08-25 00:00:00,10:19:51,429165982000236_236_90002_1535163582654,GC201808251019434070200140000|110|1170|340843206,cn_hy_OPPO,429165982000236,约瑟芬李莉斯,1,CN,2018-08-25 10:05:29,8,4,0.99,6,90002,第1周
9403,2018-08-25 00:00:00,10:16:05,1799098883000236_236_90002_1535163347038,M201808251015477754|175|1170|18137441,cn_hy_m921Game,1799098883000236,安玛莉弗罗拉,0,CN,2018-08-25 10:10:09,17,1,0.99,6,90002,第1周
9404,2018-08-25 00:00:00,10:15:25,80000492920120,"{""cmdBaseTime"":""1535192125"",""sSignedData"":""MII...",ios,2709751721000236,Newbie274270236,1,CN,2018-08-25 10:14:19,3,1,0.99,6,90002,第1周
9405,2018-08-25 00:00:00,10:06:22,380000337126633,"{""cmdBaseTime"":""1535191581"",""sSignedData"":""MII...",ios,189536550000236,帕尔默谢科妮,0,CN,2018-08-25 10:02:39,2,2,0.16,1,10001,第1周

In [3]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9406 entries, 0 to 9405
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      9406 non-null   object
 1   时间      9406 non-null   object
 2   订单号     9406 non-null   object
 3   订单信息    9406 non-null   object
 4   平台      9406 non-null   object
 5   用户      9406 non-null   int64
 6   名字      9406 non-null   object
 7   小区      9406 non-null   int64
 8   国家      9406 non-null   object
 9   注册时间    9406 non-null   object
 10  当前等级    9406 non-null   int64
 11  支付等级    9406 non-null   int64
 12  支付金额/$  9406 non-null   float64
 13  支付金额/¥  9406 non-null   int64
 14  ID      9406 non-null   int64
 15  周       9406 non-null   object
dtypes: float64(1), int64(6), object(9)
memory usage: 1.1+ MB

In [4]:
df_pay = df_game.loc[:,['名字','支付金额/¥']].groupby('名字').sum()
df_pay

             支付金额/¥
名字
167               6
1029              6
%%%@枪战          122
1111爽歪歪1111     285
236#陌糖少          18
...             ...
龙飞凤舞-龙飞           6
龙魂街道              6
龙龙、               6
﹪怺忄亘の薆            6
：：：搞你满脸          36

[1005 rows x 1 columns]

In [5]:
big_r = df_pay[df_pay['支付金额/¥'] > 6000]
big_r

         支付金额/¥
名字
不开花的竹子    15476
大刀砍龟儿      7224
小猪佩奇打僵尸    7446
小酥@@      17015
拼命微笑       6130
暗箭        14184
柔若无骨      21840
红豆刨冰。      8867
艾萨克韦奇     26737
英雄门       28597
静祷安宁      24498

In [6]:
middle_r = df_pay[(df_pay['支付金额/¥'] >= 1000) & (df_pay['支付金额/¥'] <= 6000)]
little_r    = df_pay[df_pay['支付金额/¥'] < 100]

In [7]:
big_r.index

Index(['不开花的竹子', '大刀砍龟儿', '小猪佩奇打僵尸', '小酥@@', '拼命微笑', '暗箭', '柔若无骨', '红豆刨冰。',
       '艾萨克韦奇', '英雄门', '静祷安宁'],
      dtype='object', name='名字')

In [8]:
df_game['level'] = 'other'

In [9]:
df_game.head()

,日期,时间,订单号,订单信息,平台,用户,名字,小区,国家,注册时间,当前等级,支付等级,支付金额/$,支付金额/¥,ID,周,level
0,2018-12-03 00:00:00,08:40:55,91675542532000236_236_10005_1543797631736,20181203084043J6B3nuQSePF9vEZXC5|154|1047|1084...,cn_hy,91675542532000236,新手，小姐姐,4,CN,2018-08-25 21:13:45,24,24,0.99,6,10005,第15周,other
1,2018-12-03 00:00:00,07:46:48,26562828705000236_236_10001_1543794394109,20181203074634TCK1ns7Q865G4WHdMl|154|1047|f4bc...,cn_hy,26562828705000236,气人一个,2,CN,2018-08-25 13:04:32,30,30,0.16,1,10001,第15周,other
2,2018-12-03 00:00:00,07:09:48,105883307752000236_236_10001_1543792176134,20181203070935psbXoy9RMnJB1D3x7L|154|1047|b162...,cn_hy,105883307752000236,英雄门,4,CN,2018-08-25 23:12:23,37,37,0.16,1,10001,第15周,other
3,2018-12-03 00:00:00,06:39:44,43686793520000236_236_2003_1543790375913,20181203063936sOGeqvAhcuwMC3BVty|155|1278,cn_hy,43686793520000236,静祷安宁,0,CN,2018-08-25 14:59:16,38,38,9.99,68,2003,第15周,other
4,2018-12-03 00:00:00,06:39:24,43686793520000236_236_2004_1543790353208,201812030639133zS4G8bsdjIJMwtDmP|155|1278,cn_hy,43686793520000236,静祷安宁,0,CN,2018-08-25 14:59:16,38,38,19.99,128,2004,第15周,other

In [10]:
for name_str in big_r.index:
    df_game.loc[df_game['名字'] == name_str,'level'] = 'big_r'

for name_str in middle_r.index:
    df_game.loc[df_game['名字'] == name_str,'level'] = 'middle_r'

for name_str in little_r.index:
    df_game.loc[df_game['名字'] == name_str,'level'] = 'little_r'

In [11]:
df_game.head()

,日期,时间,订单号,订单信息,平台,用户,名字,小区,国家,注册时间,当前等级,支付等级,支付金额/$,支付金额/¥,ID,周,level
0,2018-12-03 00:00:00,08:40:55,91675542532000236_236_10005_1543797631736,20181203084043J6B3nuQSePF9vEZXC5|154|1047|1084...,cn_hy,91675542532000236,新手，小姐姐,4,CN,2018-08-25 21:13:45,24,24,0.99,6,10005,第15周,other
1,2018-12-03 00:00:00,07:46:48,26562828705000236_236_10001_1543794394109,20181203074634TCK1ns7Q865G4WHdMl|154|1047|f4bc...,cn_hy,26562828705000236,气人一个,2,CN,2018-08-25 13:04:32,30,30,0.16,1,10001,第15周,middle_r
2,2018-12-03 00:00:00,07:09:48,105883307752000236_236_10001_1543792176134,20181203070935psbXoy9RMnJB1D3x7L|154|1047|b162...,cn_hy,105883307752000236,英雄门,4,CN,2018-08-25 23:12:23,37,37,0.16,1,10001,第15周,big_r
3,2018-12-03 00:00:00,06:39:44,43686793520000236_236_2003_1543790375913,20181203063936sOGeqvAhcuwMC3BVty|155|1278,cn_hy,43686793520000236,静祷安宁,0,CN,2018-08-25 14:59:16,38,38,9.99,68,2003,第15周,big_r
4,2018-12-03 00:00:00,06:39:24,43686793520000236_236_2004_1543790353208,201812030639133zS4G8bsdjIJMwtDmP|155|1278,cn_hy,43686793520000236,静祷安宁,0,CN,2018-08-25 14:59:16,38,38,19.99,128,2004,第15周,big_r

In [12]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9406 entries, 0 to 9405
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      9406 non-null   object
 1   时间      9406 non-null   object
 2   订单号     9406 non-null   object
 3   订单信息    9406 non-null   object
 4   平台      9406 non-null   object
 5   用户      9406 non-null   int64
 6   名字      9406 non-null   object
 7   小区      9406 non-null   int64
 8   国家      9406 non-null   object
 9   注册时间    9406 non-null   object
 10  当前等级    9406 non-null   int64
 11  支付等级    9406 non-null   int64
 12  支付金额/$  9406 non-null   float64
 13  支付金额/¥  9406 non-null   int64
 14  ID      9406 non-null   int64
 15  周       9406 non-null   object
 16  level   9406 non-null   object
dtypes: float64(1), int64(6), object(10)
memory usage: 1.2+ MB

In [13]:
pay_week = df_game.loc[:,['周','支付金额/¥']].groupby('周').sum()
pay_week

      支付金额/¥
周
第10周    7448
第11周    7236
第12周    9718
第13周    6569
第14周    4758
第15周    2684
第1周    84670
第2周    39330
第3周    19254
第4周    24095
第5周    24275
第6周    18249
第7周    19278
第8周    18231
第9周     9892

In [14]:
pay_week.index

Index(['第10周', '第11周', '第12周', '第13周', '第14周', '第15周', '第1周', '第2周', '第3周',
       '第4周', '第5周', '第6周', '第7周', '第8周', '第9周'],
      dtype='object', name='周')

In [15]:
pay_week.to_dict()['支付金额/¥']['第10周']

7448

In [16]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9406 entries, 0 to 9405
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      9406 non-null   object
 1   时间      9406 non-null   object
 2   订单号     9406 non-null   object
 3   订单信息    9406 non-null   object
 4   平台      9406 non-null   object
 5   用户      9406 non-null   int64
 6   名字      9406 non-null   object
 7   小区      9406 non-null   int64
 8   国家      9406 non-null   object
 9   注册时间    9406 non-null   object
 10  当前等级    9406 non-null   int64
 11  支付等级    9406 non-null   int64
 12  支付金额/$  9406 non-null   float64
 13  支付金额/¥  9406 non-null   int64
 14  ID      9406 non-null   int64
 15  周       9406 non-null   object
 16  level   9406 non-null   object
dtypes: float64(1), int64(6), object(10)
memory usage: 1.2+ MB

In [17]:
df_game.loc[:,['周','level','ID','支付金额/¥']].groupby(['周','level','ID']).sum()

                  支付金额/¥
周    level ID
第10周 big_r 1034      128
           2001       30
           2002      210
           2004      128
           2006      648
...                  ...
第9周  other 50073      30
           90937      30
           91187      30
           91236      30
           91237      68

[1632 rows x 1 columns]

In [18]:
user_fare = df_game.loc[:,['名字','支付金额/¥']].groupby(['名字']).sum()
big_r = user_fare[user_fare['支付金额/¥']>6000]
middle_r = user_fare[(user_fare['支付金额/¥']<=6000)&(user_fare['支付金额/¥']>=1000)]
small_r = user_fare[user_fare['支付金额/¥']<100]
df_game.loc[:,['周','支付金额/¥']].groupby('周').sum().sort_values(by='支付金额/¥',ascending=False)
df_game['level'] = 'other'#加一个列 表示大r、中r、小r
#开始标记不同的付费等级
for name_str in big_r.index:
    df_game.loc[df_game['名字'] == name_str,'level']= 'big_r'
for name_str in middle_r.index:
    df_game.loc[df_game['名字'] == name_str,'level']= 'middle_r'
for name_str in small_r.index:
    df_game.loc[df_game['名字'] == name_str,'level']= 'small_r'
#按照类别进行排序
result_level =df_game.loc[:,['周','level','支付金额/¥']].groupby(['周','level']).sum()
def level_display(level_str):
    print("{}按周付费的情况".format(level_str))
    for i in range(13):
        time_str = "第{}周".format(i+1)
        print(time_str,result_level['支付金额/¥'][(time_str,level_str)])

In [19]:
level_display('big_r')
level_display('middle_r')
level_display('small_r')

big_r按周付费的情况
第1周 34157
第2周 24570
第3周 11266
第4周 18237
第5周 17137
第6周 10107
第7周 15094
第8周 9656
第9周 8135
第10周 4759
第11周 6289
第12周 8397
第13周 4150
middle_r按周付费的情况
第1周 25423
第2周 8654
第3周 5606
第4周 4084
第5周 5308
第6周 6595
第7周 3140
第8周 7629
第9周 967
第10周 1646
第11周 589
第12周 875
第13周 2027
small_r按周付费的情况
第1周 8376
第2周 1219
第3周 322
第4周 171
第5周 154
第6周 263
第7周 80
第8周 34
第9周 143
第10周 114
第11周 90
第12周 9
第13周 4

In [20]:
df_game[df_game['level'] == 'big_r'].loc[:,['周','ID','支付金额/¥']].groupby(['周','ID']).sum()
df_id = pd.read_excel("数据分析题目.xlsx","礼包id对应的礼包名称")
df_merge = pd.merge(df_game,df_id,on=['ID'])
df_merge[df_merge['level'] == 'big_r'].loc[:,['周','礼包名称','支付金额/¥']].groupby(['周','礼包名称']).sum()

                支付金额/¥
周    礼包名称
第10周 128元执行官礼包     128
     128元资源礼包      128
     1元礼包           14
     30元情景战斗补给      90
     30元资源礼包       120
...                ...
第9周  科研礼包           98
     联盟发展1          30
     资源礼包1          60
     资源礼包2          68
     资源礼包3         128

[619 rows x 1 columns]

In [21]:
result_gift = df_merge.loc[:,['礼包名称','支付金额/¥']].groupby('礼包名称').sum().sort_values(by='支付金额/¥',ascending=False)
result_gift.head(10)

            支付金额/¥
礼包名称
正常点券5        47712
6元兵符每日        6390
首充礼包          5580
163新月卡        5542
正常点券4         4864
兵种改造礼包        4858
128元执行官礼包     4096
648元情景急速发展    3888
搜救活动礼包5       3888
30新月卡         3840